<phpunit bootstrap="tests/bootstrap.php" colors="true"
         processIsolation="false"
         stopOnFailure="false">

    <php>
        <env name="SOAP_MODE" value="mock" />
        <env name="XDEBUG_MODE" value="coverage" />
        <!-- You can also set INI settings here -->
        <ini name="memory_limit" value="512M" />
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/PayU/Test/Functional</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>./build</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <html outputDirectory="build/coverage" />
        </report>
    </coverage>
</phpunit>
